html{
  margin-left:10%;
  margin-right:10%;
  background-image: url("../img/bck.jpg");
  background-repeat:no-repeat;
  background-attachment: fixed;
  
}
footer{
  text-align: center;
  background-color: rgb(44, 42, 42);
  color: #fff;
  padding: 8px 0 2px 0;
  font-size: 1.2em;
 
}

body{
  direction:rtl;
  background-color: rgb(44, 42, 42);
 
  
  
}
/* main-menu_style------------------------------------------------------- */
.main-menu:hover,
nav.main-menu.expanded {
  width: 35%;
}
.main-menu {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(8, 89, 136) 10%,
    rgb(212, 202, 202) 90%
  );
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width:5%;
  right: 0;
  overflow: hidden;
  transition: width 0.05s linear;
  z-index: 1000;

  display: block;
  text-align: center;
  
}
.main-menu ul {
  background: none;
  border-radius: 0;
  position: relative;
  padding-top: 10%;
  
  display: none;
  width:100%;
  text-align: center;
}
.main-menu:hover ul
 {
	display: block; 
 }
.main-menu li {
  position: relative;
  border: none;
  

  display: block;
  width: 100%;
  text-align: center;
}
.main-menu li:hover {
  background-color: rgb(6, 84, 136);
}
.main-menu li > a {
  position: relative;
  border-collapse: collapse;
  border-spacing: 0;
  color: #eaeaea;
  font-family: vazir;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.1s linear;
  font-size: 1.2em;
}
 
/* end of main menu syle------------------------------------------------------------------------ */







@media only screen and (max-width: 630px) {
  
  .top-menu {
    
    display: none;
    
  }
  body{
    background:none;
  }
  footer{
    background:none;
  }
  html{
    margin-left:5%;
    margin-right:5%;
  }
  
   
}

@media only screen and (min-width: 630px) {
  
  .main-menu {
    
    display: none;
    
  }
  
   
}
/* top menu style start *******************************************************************************/
ul {
  list-style-type: none;
  margin-top:-10px;
  margin-bottom:80px;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  font-size: 2em;
  border-bottom: 0px solid black;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}
 li {
    float: right;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-family: vazir;
  }
  .logo,.login,.signup
  {
    float: left;
  }
li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding:  14px 16px;
    text-decoration: none;
  }
  .top-menu li a:hover
  {
    background-color: rgb(6, 84, 136);
    border-radius: 7px;
  }
  .dropdown:hover .dropbtn {
    background-color:rgb(162, 109, 179);
  }
   li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
  }
  .dropdown .dropbtn::after {
   content: ' \25BE';
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
  }
  .dropdown-content a:hover {
    background-color: rgb(162, 109, 179);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* top menu style end************************************************************************ */
.container {
    background-color: rgb(245, 245, 245);
    font-family: iransansdn;
    direction: rtl;
    text-align: right;
    margin: 1%;
    padding: 0 20px 20px 20px;
    font-size: 1.2em;
    height: -webkit-fill-available;
    border: 2px solid rgb(44, 42, 42);
    border-radius: 50px;
}


@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/iransansdnbold.eot');
	src: url('../fonts/eot/iransansdnbold.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/woff2/iransansdnbold.woff2') format('woff2'),
		 url('../fonts/woff/iransansdnbold.woff') format('woff'), 
		 url('../fonts/ttf/iransansdnbold.ttf') format('truetype');
}

@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/iransansdnlight.eot');
	src: url('../fonts/eot/iransansdnlight.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/woff2/iransansdnlight.woff2') format('woff2'),  
		 url('../fonts/woff/iransansdnlight.woff') format('woff'),  
		 url('../fonts/ttf/iransansdnlight.ttf') format('truetype');
}

@font-face {
	font-family: iransansdn;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/iransansdn.eot');
	src: url('../fonts/eot/iransansdn.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/woff2/iransansdn.woff2') format('woff2'),  
		 url('../fonts/woff/iransansdn.woff') format('woff'),  
		 url('../fonts/ttf/iransansdn.ttf') format('truetype');
}
@font-face {
  font-family: "Vazir";
  src: url("font/Vazir.woff") format("woff");
}
@font-face {
  font-family: "Vazir";
  src: url("font/Vazir.woff2") format("woff2");